In [9]:
from surprise import Reader, Dataset, SVD, NMF, evaluate
import pandas as pd
import numpy as np

In [11]:
# importing the Steam user and game data into a pandas dataframe

steam = pd.read_csv('./steam_data.csv')

In [12]:
steam.head(3)

     User ID                  Game Title  Hours Played
0  151603712  The Elder Scrolls V Skyrim         273.0
1  151603712                   Fallout 4          87.0
2  151603712                       Spore          14.9

In [13]:
steam_dict =   {'Game Title': list(steam['Game Title']),
                'User ID': list(steam['User ID']),
                'Hours Played': list(steam['Hours Played'])}
df = pd.DataFrame(steam_dict)

In [14]:
df.head()

                   Game Title  Hours Played    User ID
0  The Elder Scrolls V Skyrim         273.0  151603712
1                   Fallout 4          87.0  151603712
2                       Spore          14.9  151603712
3           Fallout New Vegas          12.1  151603712
4               Left 4 Dead 2           8.9  151603712

In [16]:
# A reader is still needed but only the rating_scale param is required.
# The Reader class is used to parse a file containing ratings.
reader = Reader(rating_scale=(0.5, 5.0))

In [17]:
# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df[['Game Title', 'User ID', 'Hours Played']], reader)

In [18]:
data.split(n_folds=5)

# svd
algo = SVD()
evaluate(algo, data, measures=['RMSE'])

# nmf
algo = NMF()
evaluate(algo, data, measures=['RMSE'])

C:\Users\plog3\Anaconda3\envs\dsi\lib\site-packages\surprise\evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
C:\Users\plog3\Anaconda3\envs\dsi\lib\site-packages\surprise\dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE of algorithm SVD.

------------
Fold 1
RMSE: 239.5783
------------
Fold 2
RMSE: 237.8274
------------
Fold 3
RMSE: 229.3957
------------
Fold 4
RMSE: 239.2753
------------
Fold 5
RMSE: 220.8185
------------
------------
Mean RMSE: 233.3791
------------
------------
Evaluating RMSE of algorithm NMF.

------------
Fold 1
RMSE: 239.8964
------------
Fold 2
RMSE: 238.1208
------------
Fold 3
RMSE: 229.7123
------------
Fold 4
RMSE: 239.5678
------------
Fold 5
RMSE: 221.1168
------------
------------
Mean RMSE: 233.6828
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [239.89637702427365,
                             238.12083333002573,
                             229.7122568955019,
                             239.5677873827603,
                             221.11679386876528]})